[flake8]
exclude = __pycache__,.git,.pytest_cache
extend-ignore = 
  # white spaces before ,:;
  E203
max-line-length = 90
max-complexity = 10
per-file-ignores =
  # lines can be long in test files
  tests/*:E501
